body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 100px 0;

}

.title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    padding-bottom: 42px;
    color: black;
}

p {
    color: #fff;
}

.blockTitle {
    flex: 1 1 auto;
    margin: 16px 0 24px 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

.bigBTitle {
    flex: 1 1 auto;
    
}

.ttl {
    margin: 16px 29px;
    font-size: 24px;
    line-height: 31px;
    font-weight: 500;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 15px;
    margin-left: 33px;
}

.description2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 15px;
    margin-left: 33px;
}

.flexA {
    display: flex;
}

.flexB {
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    margin:0 0 19px 25px ;
}


.namibia {
    width: 256px;
    height: 256px;
    background: url('../img/Rectangle25.png')no-repeat;
}

.kenia {
    width: 256px;
    height: 256px;
    background: url('../img/Rectangle44.png') no-repeat;
}

.tanzania {

    width: 544px;
    height: 544px;
    background: url('../img/Rectangle34.png') no-repeat;
}

.bitsvana {
    width: 256px;
    height: 256px;
    background: url('../img/Rectangle63.png') no-repeat;
}

.Safrica {
    width: 256px;
    height: 256px;
    background: url('../img/Rectangle64.png') no-repeat;
}

.africa9 {
    width: 542px;
    height: 544px;
    background: url('../img/Rectangle69.png') no-repeat;
}

.keyptaun {
    width: 256px;
    height: 256px;
    background: url('../img/Rectangle65.png') no-repeat;
}

.uar {
    width: 256px;
    height: 256px;
    background: url('../img/Rectangle67.png') no-repeat;
}

.zanzibare {
    width: 256px;
    height: 256px;
    background: url('../img/Rectangle66.png') no-repeat;
}

.victoria {
    width: 256px;
    height: 256px;
    background: url('../img/Rectangle68.png') no-repeat;
}

.block {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.flexA:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
}

.flexA:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
}
